body {
  font-family: Montserrat, sans-serif;
  color: #1a1b1f;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}

h1 {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 44px;
  line-height: 62px;
  font-weight: 400;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 50px;
  font-weight: 400;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 46px;
  font-weight: 400;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 38px;
  font-weight: 400;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 34px;
  font-weight: 500;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
}

p {
  margin-bottom: 10px;
}

a {
  display: block;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #1a1b1f;
  text-decoration: underline;
}

a:hover {
  color: #32343a;
}

a:active {
  color: #43464d;
}

ul {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 40px;
  list-style-type: disc;
}

li {
  margin-bottom: 10px;
}

img {
  display: block;
}

label {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

blockquote {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 15px 30px;
  border-left: 5px solid #e2e2e2;
  font-size: 20px;
  line-height: 34px;
}

figure {
  margin-top: 25px;
  padding-bottom: 20px;
}

figcaption {
  margin-top: 5px;
  opacity: 0.6;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.about-us {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0px auto;
  padding: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 15px;
  text-align: center;
}

.about-us.cc-cta {
  margin-top: 126px;
  padding-top: 0px;
  padding-right: 80px;
  padding-left: 80px;
  background-color: #f4f4f4;
}

.about-us.cc-store-home-wrap {
  margin: 47px 0px;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.container {
  width: 100%;
  max-height: 500px;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  background-color: #000;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.paragraph-tiny {
  font-size: 12px;
  line-height: 20px;
}

.paragraph-bigger {
  margin-bottom: 10px;
  opacity: 1;
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
}

.paragraph-bigger.cc-bigger-light {
  opacity: 0.6;
}

.button {
  padding: 12px 25px;
  border-radius: 0px;
  background-color: #1a1b1f;
  -webkit-transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
  transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: #32343a;
  color: #fff;
}

.button:active {
  background-color: #43464d;
}

.button.cc-jumbo-button {
  padding: 16px 35px;
  font-size: 14px;
  line-height: 26px;
}

.button.cc-contact-us {
  position: relative;
  z-index: 5;
}

.button.cc-white-button {
  padding: 16px 35px;
  background-color: #fff;
  color: #202020;
  font-size: 14px;
  line-height: 26px;
}

.button.cc-white-button:hover {
  background-color: hsla(0, 0%, 100%, 0.8);
}

.button.cc-white-button:active {
  background-color: hsla(0, 0%, 100%, 0.9);
}

.label {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.label.cc-blog-date {
  margin-top: 20px;
  opacity: 0.6;
}

.rich-text {
  width: 70%;
  margin-right: auto;
  margin-bottom: 100px;
  margin-left: auto;
}

.rich-text p {
  margin-top: 15px;
  margin-bottom: 25px;
  opacity: 0.6;
}

.heading-jumbo {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 0px;
  font-size: 64px;
  line-height: 80px;
  text-transform: none;
}

.heading-jumbo-small {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 36px;
  line-height: 50px;
  font-weight: 400;
  text-transform: none;
}

.logo-link {
  z-index: 1;
}

.logo-link:hover {
  opacity: 0.8;
}

.logo-link:active {
  opacity: 0.7;
}

.logo-link.w--current {
  position: static;
  display: block;
  clear: left;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.menu {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  padding: 0px 50px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  color: #07080a;
}

.navigation-item {
  margin-right: 13px;
  padding-top: 9px;
  padding-bottom: 9px;
  opacity: 0.6;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.navigation-item:hover {
  opacity: 0.9;
}

.navigation-item:active {
  opacity: 0.8;
}

.navigation-item.w--current {
  opacity: 1;
  color: #1a1b1f;
  font-weight: 600;
}

.navigation-item.w--current:hover {
  opacity: 0.8;
  color: #32343a;
}

.navigation-item.w--current:active {
  opacity: 0.7;
  color: #32343a;
}

.navigation-item.book {
  position: static;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  margin-left: 0px;
  clear: none;
  border-radius: 10px;
  background-color: #000;
  opacity: 1;
  color: #fff;
  font-size: 14px;
  line-height: 28px;
  font-weight: 700;
}

.logo-image {
  display: block;
}

.navigation-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.footer-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 70px;
  padding-bottom: 70px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: translate(0px, 300px);
  -ms-transform: translate(0px, 300px);
  transform: translate(0px, 300px);
}

.webflow-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.5;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
  text-decoration: none;
}

.webflow-link:hover {
  opacity: 1;
}

.webflow-link:active {
  opacity: 0.8;
}

.webflow-logo-tiny {
  margin-top: -2px;
  margin-right: 8px;
}

.cta-text {
  width: 70%;
  margin-right: auto;
  margin-bottom: 35px;
  margin-left: auto;
}

.cta-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 110px;
  padding-bottom: 120px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.status-message {
  padding: 9px 30px;
  background-color: #202020;
  color: #fff;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.status-message.cc-error-message {
  background-color: #db4b68;
}

.text-field {
  margin-bottom: 18px;
  padding: 21px 20px;
  border: 1px solid #e4e4e4;
  border-radius: 0px;
  -webkit-transition: border-color 400ms ease;
  transition: border-color 400ms ease;
  font-size: 14px;
  line-height: 26px;
}

.text-field:hover {
  border-color: #e3e6eb;
}

.text-field:active {
  border-color: #43464d;
}

.text-field:focus {
  border-color: #43464d;
}

.text-field::-webkit-input-placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.text-field:-ms-input-placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.text-field::-ms-input-placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.text-field::placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.blog-detail-header-wrap {
  width: 70%;
  margin: 60px auto;
}

.detail-header-image {
  display: block;
  width: 100%;
  height: 620px;
  margin-bottom: 60px;
  background-image: url('../images/example-bg.png');
  background-position: 0px 0px;
  background-size: cover;
}

.detail-header-image.w--current {
  margin-bottom: 60px;
}

.protected-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.protected-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 90px;
  padding-bottom: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.protected-heading {
  margin-bottom: 30px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  padding: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

._404-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #1a1b1f;
}

._404-content-wrap {
  margin-bottom: 20px;
}

.image {
  -webkit-transform: translate3d(10px, -119px, -48px);
  transform: translate3d(10px, -119px, -48px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.image-2 {
  display: block;
  clear: none;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.paragraph {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  margin-bottom: 0px;
  padding: 0px 80px 0px 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  font-size: 20px;
}

.image-5 {
  width: auto;
  padding-right: 0px;
  padding-left: 20px;
}

.body {
  overflow: visible;
  height: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  background-color: #fff;
  font-size: 22px;
}

.body.red {
  background-color: #c00;
}

.div-block {
  height: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url('../images/Screen-Shot-2019-06-22-at-2.52.14-PM.png');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/Screen-Shot-2019-06-22-at-2.52.14-PM.png');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, cover;
}

.heading {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  overflow: visible;
  height: auto;
  margin-right: 20px;
  margin-left: 20px;
  float: left;
  clear: both;
  color: #fff;
  text-align: center;
}

.container-3 {
  margin-right: auto;
  margin-left: auto;
  padding-top: 150px;
  padding-bottom: 150px;
}

.section-4 {
  height: auto;
  margin-top: 50px;
  margin-bottom: 0px;
  padding-top: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url('../images/banner.png');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/banner.png');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}

.text-block-5 {
  position: -webkit-sticky;
  position: sticky;
  display: inline;
  width: 750px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  color: #eaebf1;
  font-size: 27px;
  font-weight: 400;
  text-align: center;
}

.button-7 {
  margin-top: -67px;
  margin-bottom: 51px;
  margin-left: 0px;
  padding-bottom: 9px;
  padding-left: 15px;
  float: none;
  clear: none;
  border-radius: 20px;
  background-color: #c00;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-transition: opacity 200ms ease, opacity 200ms ease;
  transition: opacity 200ms ease, opacity 200ms ease;
  color: #ebedf3;
  text-align: center;
}

.div-block-6 {
  display: block;
  margin-top: 0px;
  padding-top: 100px;
  padding-bottom: 0px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  text-align: center;
}

.slide-2 {
  position: static;
  background-image: url('../images/Screen-Shot-2019-06-26-at-3.20.01-PM.png');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-3 {
  background-image: url('../images/Screen-Shot-2019-06-26-at-2.34.45-PM.png');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-4 {
  margin-top: 0px;
  padding-top: 0px;
  background-image: url('../images/Screen-Shot-2019-06-26-at-3.29.23-PM.png'), url('../images/example-bg.png');
  background-position: 0px 0px, 0px 0px;
  background-size: cover, 125px;
  background-repeat: no-repeat, repeat;
}

.button-11 {
  margin-right: 0px;
  margin-left: 0px;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  border-radius: 20px;
  background-color: #050505;
  opacity: 0.9;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  text-align: left;
}

.button-11:hover {
  background-color: #0c0808;
}

.text-block-7 {
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
  float: right;
  color: #fff;
  font-size: 23px;
  text-align: center;
}

.text-block-8 {
  width: 400px;
  padding-right: 0px;
  padding-left: 0px;
  color: #fff;
  font-size: 23px;
  text-align: center;
}

.image-9 {
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
}

.button-12 {
  width: 190px;
  margin-top: 20px;
  margin-right: 0px;
  margin-left: 0px;
  float: none;
  clear: both;
  border-radius: 20px;
  background-color: #000407;
  text-align: center;
}

.button-12:hover {
  color: #fff;
}

.slider {
  overflow: visible;
  width: 650px;
  height: 350px;
  margin-left: 0px;
  float: none;
  clear: none;
  text-align: left;
}

.text-block-9 {
  display: block;
  width: auto;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  text-align: center;
}

.section-9 {
  clear: none;
  opacity: 1;
  font-size: 18px;
  text-align: center;
}

.paragraph-4 {
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0px;
  background-color: #c8c8c8;
  text-align: center;
}

.paragraph-5 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0px;
  background-color: #c8c8c8;
  text-align: center;
}

.tab-pane-tab-2 {
  text-align: left;
}

.heading-3 {
  font-size: 25px;
  text-align: center;
}

.columns-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  text-align: left;
}

.text-block-12 {
  display: block;
  float: right;
  clear: right;
  text-align: center;
}

.paragraph-6 {
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #c8c8c8;
}

.section-10 {
  margin-top: 66px;
  margin-bottom: 143px;
}

.bold-text {
  color: #f3f4f7;
  font-size: 17px;
}

.bold-text:hover {
  color: #fff;
}

.image-11 {
  margin-top: -10px;
  margin-left: 0px;
  padding-left: 0px;
}

.image-12 {
  margin-left: 0px;
}

.image-13 {
  margin-top: -10px;
  margin-left: 0px;
}

.columns-9 {
  margin-top: -40px;
}

.tabs-content {
  padding-top: 0px;
}

.column-8 {
  position: static;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  clear: none;
  text-align: left;
}

.image-14 {
  float: right;
  clear: right;
}

.text-block-13 {
  float: left;
  text-align: center;
}

.image-15 {
  padding-right: 10px;
  padding-left: 10px;
}

.section-14 {
  margin-top: 0px;
}

.column-9 {
  border-left: 3px solid #000;
}

.div-block-8 {
  text-align: center;
}

.image-16 {
  margin-top: 30px;
}

.heading-5 {
  text-align: center;
}

.column-11 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.heading-6 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #fff;
}

.div-block-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  background-color: #c00;
  text-align: center;
}

.text-block-16 {
  padding: 20px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  text-align: center;
}

.book {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
}

.book:hover {
  color: #fff;
}

@media (max-width: 991px) {
  .about-us.cc-cta {
    padding-right: 0px;
    padding-left: 0px;
  }
  .button {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .button.cc-contact-us {
    display: none;
  }
  .heading-jumbo {
    font-size: 56px;
    line-height: 70px;
  }
  .logo-link.w--current {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .menu-icon {
    display: block;
    float: none;
  }
  .menu {
    position: static;
    margin-left: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .navigation-wrap {
    background-color: #fff;
  }
  .navigation {
    margin-left: 0px;
    padding: 25px 30px;
  }
  .navigation-item {
    display: block;
    margin-right: 0px;
    padding: 15px 30px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    -webkit-transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
    transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
    text-align: center;
  }
  .navigation-item:hover {
    background-color: #f7f8f9;
  }
  .navigation-item:active {
    background-color: #eef0f3;
  }
  .navigation-item.w--current {
    margin-right: 0px;
  }
  .navigation-item.book {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    opacity: 1;
    -webkit-transition-property: none;
    transition-property: none;
  }
  .menu-button {
    position: static;
    left: 0%;
    top: 0%;
    bottom: 0%;
    padding: 0px;
    clear: none;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    text-align: left;
  }
  .menu-button.w--open {
    background-color: transparent;
  }
  .navigation-items {
    background-color: #fff;
  }
  .cta-text {
    width: auto;
  }
  .cta-wrap {
    width: auto;
    padding: 80px 50px 90px;
  }
  .blog-detail-header-wrap {
    width: 70%;
  }
  .detail-header-image {
    height: 460px;
  }
  .paragraph {
    padding-right: 0px;
  }
  .text-block-8 {
    overflow: visible;
    width: auto;
    margin-right: 0px;
    float: none;
    clear: none;
    direction: ltr;
    text-align: center;
    text-decoration: none;
  }
  .text-block-9 {
    width: auto;
    margin-left: 0px;
    text-align: center;
  }
  .bold-text {
    margin-left: 0px;
  }
  .image-11 {
    margin-top: 10px;
  }
  .image-13 {
    margin-top: 10px;
  }
  .image-16 {
    margin-top: 50px;
  }
  .div-block-9 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    background-color: #c00;
  }
  .book {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .about-us {
    margin-right: 15px;
    margin-left: 15px;
  }
  .about-us.cc-cta {
    padding: 15px;
  }
  .about-us.cc-store-home-wrap {
    margin-right: 15px;
    margin-left: 15px;
  }
  .container {
    text-align: center;
  }
  .paragraph-bigger {
    font-size: 16px;
    line-height: 28px;
  }
  .rich-text {
    width: 90%;
    max-width: 470px;
    text-align: left;
  }
  .heading-jumbo {
    font-size: 50px;
    line-height: 64px;
  }
  .heading-jumbo-small {
    font-size: 30px;
    line-height: 52px;
  }
  .logo-link {
    padding-left: 0px;
  }
  .navigation {
    padding: 20px 30px;
  }
  .cta-wrap {
    padding-right: 30px;
    padding-left: 30px;
  }
  .blog-detail-header-wrap {
    width: 90%;
    max-width: 470px;
    text-align: left;
  }
  .utility-page-wrap {
    padding: 15px;
  }
  ._404-wrap {
    padding: 30px;
  }
  .paragraph {
    padding-right: 0px;
  }
  .text-block-7 {
    padding-bottom: 40px;
    float: none;
  }
  .column-9 {
    padding-top: 40px;
    border-top: 3px solid #000;
    border-left-style: none;
  }
  .column-10 {
    display: none;
  }
}

@media (max-width: 479px) {
  h1 {
    font-size: 36px;
    line-height: 52px;
  }
  .about-us.cc-store-home-wrap {
    margin-right: 0px;
    margin-left: 0px;
  }
  .rich-text {
    width: 100%;
    max-width: none;
  }
  .heading-jumbo {
    font-size: 36px;
    line-height: 48px;
  }
  .logo-link.w--current {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .menu-icon {
    overflow: visible;
    margin-left: 0px;
    padding-left: 0px;
    float: none;
    clear: none;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    text-align: left;
  }
  .menu {
    position: static;
    margin-left: 15px;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .navigation-wrap {
    position: relative;
    clear: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .navigation {
    padding-right: 20px;
    padding-left: 20px;
  }
  .menu-button {
    position: absolute;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: 0%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50px;
    height: 50px;
    margin-top: -10px;
    margin-right: 0px;
    clear: both;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
  }
  .menu-button.w--open {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .cta-wrap {
    padding-right: 15px;
    padding-left: 15px;
  }
  .blog-detail-header-wrap {
    width: 100%;
    max-width: none;
  }
  .image {
    display: block;
    margin-right: 0px;
    float: none;
    clear: none;
    text-align: left;
  }
  .paragraph {
    padding-right: 0px;
    font-size: 18px;
    line-height: 24px;
  }
  .image-5 {
    height: 150px;
  }
  .heading {
    font-size: 25px;
    line-height: 40px;
  }
  .text-block-5 {
    padding-left: 0px;
    font-size: 20px;
  }
  .div-block-6 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .button-11 {
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
  }
  .bold-text {
    margin-left: 0px;
    font-size: 15px;
    line-height: 21px;
    font-weight: 700;
    text-align: left;
  }
  .image-15 {
    float: none;
    clear: none;
  }
}

